@charset "UTF-8"; /**/

h1{
    color : red;
    font-size : 20px;
    margin: 50px;
    padding: 50px; /*margin, padding으로 여백 만들기*/
}

body{
    background: linear-gradient(#777777, #333333 ) fixed;
}