<!DOCTYPE html>
<html>
    <head>
        <title>blog</title>
    </head>

    <body>
        <div class="header">
            <h1>This is blog</h1>
        </div>
        <div class="main-body">
            <p>This is Paragraph Hello~</p>
        </div>
        
    </body>
</html>